.addToQueueForm {
  background-color: var(--main-bg-color);
  border-radius: 1rem;
  padding: 2rem 5rem;
  margin: 1rem 10rem;
}

.addToQueueForm > label {
    margin-bottom: .5rem;
  }
  
.addToQueueForm > input[type="text"] {
    width: 25%;
    height: 2rem;
    border-radius: .3rem;
    border: 1px solid #ccc;
  }

  