.court {
  color: var(--main-text-color);
  background-color: var(--secondary-bg-color);
  border-radius: 1.5rem;
  padding: 1rem;
  width: 30vw;
  margin-top: 2rem;
}

.court input {
  border: none;
  border-radius: .3rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
}
