:root {
    --main-bg-color: rgb(75,78,81);
    --secondary-bg-color: rgb(178,183,187);
    --main-primary-color: rgb(172,43,55);
    --main-text-color: rgb(31,35,39);
    --secondary-text-color: #34383b;
}

.link {
    text-decoration: none;
    border: 2px solid var(--main-bg-color);
}
.link:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.court-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

